<ion-view view-title="À propos">
    <ion-content>
        <div class="logo text-center">
            <img src="img/logo.png" alt="">
        </div>
        <div class="card">
            <div class="item item-divider">
                Listo
            </div>
            <div class="item item-text-wrap">
                <p>
                    Listo est une super application permettant de partager une liste de courses, vous pouvez l'utiliser entre amis pour organiser un événement ou au sein de votre famille pour gérer la liste des courses au quotidien!
                </p>
                <br>
                <p>
                    Listo a étée conçue et développée par <b>Camil Mesfoui</b>, <b>Arthur Leroux</b>, et <b>Elies Makhlouf.</b>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>


