<ion-view view-title="S'enregistrer">
    <ion-content>
        <form ng-submit="register()">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Pseudo" ng-model="userData.user_name">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Mot de passe" ng-model="userData.user_password">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">S'enregistrer</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>


