<ion-view view-title="Ajouter une personne">
    <ion-content>
        <form ng-submit="">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Pseudo de la personne à ajouter" ng-model="loginData.username">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Ajouter</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>