<ion-view view-title="Mes Listes" cache-view="false">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-plus-outline" menu-toggle="right" ng-click="showNewList(currentUser.user_id)">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <div class="list list-inset">
                <ion-item ng-repeat="list in lists" href="#/app/lists/{{list.list_id}}">
                    {{list.list_name}}
                    <ion-option-button class="button-positive" ng-click="showEditList(list.list_id)">
                        <button class="button-icon button-clear ion-android-create"></button>
                    </ion-option-button>
                    <ion-option-button class="button-assertive" ng-click="deleteList(list.list_id)">
                        <button class="button button-icon button-clear ion-android-delete"></button>
                    </ion-option-button>
                </ion-item>
                <div ng-show="listsEmpty == true" class="text-center">
                    <h3>Créez une liste !</h3>
                </div>
            </div>
        </ion-list>
        <script type="text/ng-template">
            <input type="text" ng-model="listData.list_name">
        </script>
        <script type="text/ng-template">
            <input type="text" ng-model="list.list_name">
        </script>
    </ion-content>
</ion-view>
