<ion-view view-title="{{ list.list_name }}">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-plus-outline" menu-toggle="right" ng-click="showNewProduct(list.list_id)">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="product in products">
                {{ product.name }}
                <ion-option-button class="button-balanced" ng-click="">
                    <button class="button button-icon button-clear ion-edit" menu-toggle="right">
                    </button>
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="">
                    <button class="button button-icon button-clear ion-ios-trash" menu-toggle="right">
                    </button>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
