<ion-view cache-view="false">
    <ion-nav-title>
        Invitations
    </ion-nav-title>
    <ion-content ng-show="visible == false">
        <ion-spinner icon="lines" class="spinner-royal"></ion-spinner>
    </ion-content>
    <ion-content ng-show="visible == true">
        <ion-refresher
                pulling-text="Rafraichir la page ..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <div class="list list-inset">
                <ion-item class="margin-top-10" ng-repeat="list in lists">
                    <h2>{{list.list_name}}</h2>
                    <p>
                        {{list.list_description}}
                    </p>
                    <h3 class="float-right">
                        Liste créée par {{ list.user_name }}
                    </h3>
                    <div class="row">
                        <button class="col col-50 button btn-accept btn-accept-false ion-close-circled margin-top-10" ng-click="decline(list.list_id, list.user_name, list.list_name)">
                            Refuser
                        </button>
                        <button class="col col-50 button btn-accept btn-accept-true ion-checkmark-circled margin-top-10" ng-click="accept(list.list_id)">
                            Accepter
                        </button>
                    </div>
                </ion-item>
            </div>
        </ion-list>
        <div ng-show="listsEmpty == true" class="text-center margin-top-10">
            <div class="list list-inset">
                <h5>
                    Vous n'avez aucune nouvelle invitation
                </h5>
            </div>
        </div>
    </ion-content>
</ion-view>
